### Database creation for Nepal Earthquake datasets

#### Importing libraries

In [1]:
# Import library connecting to Sqlite server
import sqlite3

# library for fetching file
from glob import glob

# Library to create Sql engine
from sqlalchemy import create_engine

### Create Tables

In [4]:
engine = create_engine('sqlite:///nepal_earthquake.db')

files = glob('*.csv')
for file in files:
    # Read all the datasets to a Dataframe
    df = pd.read_csv(file, low_memory=False)

    # Remove `.csv` from the file names
    table_name = file.strip('.csv')

    # Write the DataFrames to a tables
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

#### Create an engine and write DataFrame to SQLite

In [5]:
# Load the SQL extension 

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

##### Connect to the Database and execute queries

In [6]:
%sql sqlite:///nepal_earthquake.db

#### Explore tables on the earthquake database

##### To get an overview of the names of all the tables present in the database, we query the `sqlite_schema` table where type is `table'.

In [8]:
%%sql

SELECT name
FROM sqlite_schema
WHERE type='table'

 * sqlite:///nepal_earthquake.db
Done.

[('building_damage_assessment',),
 ('building_ownership_and_use',),
 ('building_structure',),
 ('household_demographi',),
 ('household_earthquake_impact',),
 ('household_resource',),
 ('mapping',),
 ('ward_vdcmun_district_name_mapping',)]

#### Also to find all the columns in each table, we query the `sqlite_master' table

In [9]:
%%sql

SELECT * 
FROM sqlite_master 
WHERE type='table'

 * sqlite:///nepal_earthquake.db
Done.

[('table', 'building_damage_assessment', 'building_damage_assessment', 27553, 'CREATE TABLE building_damage_assessment (\n\tbuilding_id BIGINT, \n\tdistrict_id BIGINT, \n\tvdcmun_id BIGINT, \n\tward_id BIGINT, \n\tdamage_overall ... (2932 characters truncated) ... _risk_landslide BIGINT, \n\thas_geotechnical_risk_rock_fall BIGINT, \n\thas_geotechnical_risk_flood BIGINT, \n\thas_geotechnical_risk_other BIGINT\n)'),
 ('table', 'building_ownership_and_use', 'building_ownership_and_use', 79291, 'CREATE TABLE building_ownership_and_use (\n\tbuilding_id BIGINT, \n\tdistrict_id BIGINT, \n\tvdcmun_id BIGINT, \n\tward_id BIGINT, \n\tlegal_ownershi ... (315 characters truncated) ... ndary_use_health_post BIGINT, \n\thas_secondary_use_gov_office BIGINT, \n\thas_secondary_use_use_police BIGINT, \n\thas_secondary_use_other BIGINT\n)'),
 ('table', 'building_structure', 'building_structure', 87379, 'CREATE TABLE building_structure (\n\tbuilding_id BIGINT, \n\tdistrict_id BIGINT, \n\tvdcmun_id BIGINT, \n\tward_id BIGINT, \n\tcount_floors_pre_eq BI ... (764 characters truncated) ... rc_engineered BIGINT, \n\thas_superstructure_other BIGINT, \n\tcondition_post_eq TEXT, \n\tdamage_grade TEXT, \n\ttechnical_solution_proposed TEXT\n)'),
 ('table', 'household_demographi', 'household_demographi', 123459, 'CREATE TABLE household_demographi (\n\thousehold_id BIGINT, \n\tdistrict_id BIGINT, \n\tvdcmun_id BIGINT, \n\tward_id BIGINT, \n\tgender_household_he ... (65 characters truncated) ... \n\teducation_level_household_head TEXT, \n\tincome_level_household TEXT, \n\tsize_household FLOAT, \n\tis_bank_account_present_in_household FLOAT\n)'),
 ('table', 'household_earthquake_impact', 'household_earthquake_impact', 136904, 'CREATE TABLE household_earthquake_impact (\n\thousehold_id BIGINT, \n\tdistrict_id BIGINT, \n\tvdcmun_id BIGINT, \n\tward_id BIGINT, \n\tshelter_cond ... (927 characters truncated) ... _recipient_rahat_200k BIGINT, \n\tis_recipient_rahat_social_security_3k BIGINT, \n\tis_recipient_rahat_none BIGINT, \n\tis_ineligible_rahat BIGINT\n)'),
 ('table', 'household_resource', 'household_resource', 78941, 'CREATE TABLE household_resource (\n\thousehold_id BIGINT, \n\tdistrict_id BIGINT, \n\tvdcmun_id BIGINT, \n\tward_id BIGINT, \n\tsource_water_pre_eq T ... (1047 characters truncated) ... INT, \n\thas_asset_four_wheeler_family_use_post_eq BIGINT, \n\thas_asset_four_wheeler_commercial_post_eq BIGINT, \n\thas_asset_none_post_eq BIGINT\n)'),
 ('table', 'mapping', 'mapping', 2, 'CREATE TABLE mapping (\n\tindividual_id BIGINT, \n\thousehold_id BIGINT, \n\tbuilding_id BIGINT\n)'),
 ('table', 'ward_vdcmun_district_name_mapping', 'ward_vdcmun_district_name_mapping', 189354, 'CREATE TABLE ward_vdcmun_district_name_mapping (\n\tward_id BIGINT, \n\tvdcmun_id BIGINT, \n\tvdcmun_name TEXT, \n\tdistrict_id BIGINT, \n\tdistrict_name TEXT\n)')]

###### Getting the total number of buildings affected by the earthquake, I'll combine both the `count` and `distinct` commands to calculate the unique numbers of the `building_id`

In [10]:
%%sql

SELECT 
    COUNT(DISTINCT(building_id))
FROM mapping;

 * sqlite:///nepal_earthquake.db
Done.

[(690457,)]

##### To find all the `district_name` and `district_id`'s of all the districts affected by the earthquake, we use the `Distinct` keyword.

In [11]:
%%sql

SELECT DISTINCT(district_name), district_id
FROM ward_vdcmun_district_name_mapping;

 * sqlite:///nepal_earthquake.db
Done.

[('Okhaldhunga', 12),
 ('Sindhuli', 20),
 ('Ramechhap', 21),
 ('Dolakha', 22),
 ('Sindhupalchok', 23),
 ('Kavrepalanchok', 24),
 ('Nuwakot', 28),
 ('Rasuwa', 29),
 ('Dhading', 30),
 ('Makwanpur', 31),
 ('Gorkha', 36)]

In [12]:
%%sql

SELECT 
    *
FROM mapping
LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(12010200004101001, 12010200004101, 120102000041),
 (12010200004101002, 12010200004101, 120102000041),
 (12010200004101003, 12010200004101, 120102000041),
 (12010200004101004, 12010200004101, 120102000041),
 (12010200004101005, 12010200004101, 120102000041)]

In [13]:
%%sql

SELECT * 
FROM building_structure
LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(120101000011, 12, 1207, 120703, 1, 1, 9, 288, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 'Damaged-Used in risk', 'Grade 3', 'Major repair'),
 (120101000021, 12, 1207, 120703, 1, 1, 15, 364, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 'Damaged-Repaired and used', 'Grade 5', 'Reconstruction'),
 (120101000031, 12, 1207, 120703, 1, 1, 20, 384, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Repaired and used', 'Grade 2', 'Minor repair'),
 (120101000041, 12, 1207, 120703, 1, 1, 20, 312, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Repaired and used', 'Grade 2', 'Minor repair'),
 (120101000051, 12, 1207, 120703, 1, 1, 30, 308, 9, 9, 'Flat', 'Other', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Repaired and used', 'Grade 1', 'Minor repair')]

##### To find the Total number of buildings in `Sindhupalchok` that are affected by the earthquake, we join the `mapping` and `building_structure` tables and use the `count` and `distinct` commands also including the `where` statements.

The Sindhupalchok district has its district_id as 23

In [14]:
%%sql

SELECT COUNT(DISTINCT(bs.building_id))
FROM 
    mapping m
JOIN 
    building_structure bs ON m.building_id = bs.building_id
WHERE bs.district_id = 23 
LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(81936,)]

#### The query that returns the dataset we'll use for model development is gotten by joining the `mapping` table to the`building_structure` tables with `Inner Join` command. We'll extract the needed columns by specifying them in the `select` statement.

In [22]:
%%sql

SELECT 
    DISTINCT m.building_id as b_id,
    bs.*
FROM 
    mapping m
JOIN 
    building_structure bs ON m.building_id = bs.building_id
WHERE bs.district_id = 23 
LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(230101000011, 230101000011, 23, 2309, 230904, 2, 2, 42, 864, 15, 15, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Heavy roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Not used', 'Grade 4', 'Reconstruction'),
 (230101000021, 230101000021, 23, 2309, 230904, 1, 1, 10, 140, 8, 8, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Attached-2 side', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Not used', 'Grade 3', 'Major repair'),
 (230101000031, 230101000031, 23, 2309, 230904, 2, 0, 30, 348, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Grade 5', 'Reconstruction'),
 (230101000041, 230101000041, 23, 2309, 230904, 1, 1, 17, 170, 7, 7, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Not used', 'Grade 3', 'Reconstruction'),
 (230101000051, 230101000051, 23, 2309, 230904, 2, 2, 6, 840, 14, 14, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Heavy roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Not used', 'Grade 4', 'Reconstruction')]

In [15]:
%%sql

SELECT 
    COUNT(DISTINCT(building_id))
FROM mapping;

 * sqlite:///nepal_earthquake.db
Done.

[(690457,)]

In [8]:
%%sql 

SELECT DISTINCT(m.building_id) AS b_id, 
           s.*,
           d.damage_grade AS damage_grade_1
    FROM mapping AS m
    JOIN building_structure AS s ON m.building_id = s.building_id
    JOIN building_damage_assessment AS d ON m.building_id = d.building_id
    WHERE s.district_id = 23
    LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(230101000011, 230101000011, 23, 2309, 230904, 2, 2, 42, 864, 15, 15, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Heavy roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Not used', 'Grade 4', 'Reconstruction', 'Grade 4'),
 (230101000021, 230101000021, 23, 2309, 230904, 1, 1, 10, 140, 8, 8, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Attached-2 side', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Not used', 'Grade 3', 'Major repair', 'Grade 3'),
 (230101000031, 230101000031, 23, 2309, 230904, 2, 0, 30, 348, 14, 0, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Rubble unclear', 'Grade 5', 'Reconstruction', 'Grade 5'),
 (230101000041, 230101000041, 23, 2309, 230904, 1, 1, 17, 170, 7, 7, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Light roof', 'Mud', 'Not applicable', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Not used', 'Grade 3', 'Reconstruction', 'Grade 3'),
 (230101000051, 230101000051, 23, 2309, 230904, 2, 2, 6, 840, 14, 14, 'Flat', 'Mud mortar-Stone/Brick', 'Bamboo/Timber-Heavy roof', 'Mud', 'TImber/Bamboo-Mud', 'Not attached', 'Rectangular', 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'Damaged-Not used', 'Grade 4', 'Reconstruction', 'Grade 4')]

### Query the various tables

To find information that will be useful for the model preparation, we need to look thorugh all the tables and find any columns that can contribute as a feature for model development.

##### To find the different caste groups in the `Sindhupalchok` district, we query the `household_demographi` table.

In [15]:
%%sql

SELECT 
    COUNT(DISTINCT(caste_household))
FROM building_structure bs
JOIN household_demographi hd ON hd.district_id = bs.district_id
WHERE bs.district_id = 23
LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(49,)]

From the reault above, they are 49 different caste groups in the region

#### Querying the `building_damage_assessment` table

In [16]:
%%sql

SELECT *
FROM building_damage_assessment
LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(120101000011, 12, 1207, 120703, 'Moderate-Heavy', 'Insignificant/light', None, None, 'Moderate-Heavy-(<1/3)', 'Insignificant/light-(<1/3)', 'Severe-Extreme-(<1/3)', None, 'Insignificant/light-(>2/3)', 'Severe-Extreme-(>2/3)', None, None, 'Severe-Extreme-(<1/3)', None, None, 'Severe-Extreme-(>2/3)', None, None, None, 'Moderate-Heavy-(>2/3)', None, 'Severe-Extreme-(>2/3)', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Both', 'Grade 3', 'Major repair', 0.0, None, 1.0, 1.0, 1.0, 1.0, None, 1.0, 0.0, 0.0, None, None, None, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0),
 (120101000021, 12, 1207, 120703, 'Severe-Extreme', 'Severe-Extreme', 'Insignificant/light', 'Severe-Extreme-(>2/3)', None, None, 'Severe-Extreme-(>2/3)', None, None, 'Severe-Extreme-(>2/3)', None, None, 'Severe-Extreme-(>2/3)', None, None, 'Severe-Extreme-(>2/3)', None, None, 'Severe-Extreme-(>2/3)', None, None, 'Severe-Extreme-(>2/3)', None, None, None, None, None, 'Severe-Extreme-(>2/3)', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Exterior', 'Grade 5', 'Reconstruction', 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, None, None, None, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0),
 (120101000031, 12, 1207, 120703, 'Moderate-Heavy', 'Moderate-Heavy', 'Moderate-Heavy', None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, None, 'Insignificant/light-(1/3-2/3)', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Both', 'Grade 2', 'Minor repair', 1.0, None, None, None, None, None, None, None, None, None, None, None, None, 1.0, 0.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0),
 (120101000041, 12, 1207, 120703, 'Moderate-Heavy', 'Moderate-Heavy', 'Moderate-Heavy', None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, 'Moderate-Heavy-(>2/3)', None, None, None, 'Insignificant/light-(<1/3)', None, None, 'Insignificant/light-(1/3-2/3)', None, None, None, None, None, None, None, None, None, None, 'Moderate-Heavy-(>2/3)', None, None, None, None, None, None, None, 'Both', 'Grade 2', 'Minor repair', 1.0, None, None, None, None, None, None, None, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0),
 (120101000051, 12, 1207, 120703, 'Insignificant/light', None, None, None, None, 'Insignificant/light-(<1/3)', None, None, 'Insignificant/light-(<1/3)', None, None, 'Insignificant/light-(<1/3)', None, None, 'Insignificant/light-(<1/3)', None, None, 'Insignificant/light-(<1/3)', None, None, 'Insignificant/light-(<1/3)', None, None, 'Insignificant/light-(<1/3)', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Exterior', 'Grade 1', 'Minor repair', 1.0, None, None, None, None, None, None, None, 0.0, 0.0, None, None, None, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0)]

#### Querying the `building_ownership_and_use` table

In [17]:
%%sql

SELECT *
FROM building_ownership_and_use
LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(120101000011, 12, 1207, 120703, 'Private', 1.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (120101000021, 12, 1207, 120703, 'Private', 1.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (120101000031, 12, 1207, 120703, 'Private', 1.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (120101000041, 12, 1207, 120703, 'Private', 1.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (120101000051, 12, 1207, 120703, 'Private', 1.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)]

#### Querying the `household_demographi` table

In [18]:
%%sql

SELECT *
FROM household_demographi
LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(12010100001101, 12, 1207, 120703, 'Male', 31.0, 'Rai', 'Illiterate', 'Rs. 10 thousand', 3.0, 0.0),
 (12010100002101, 12, 1207, 120703, 'Female', 62.0, 'Rai', 'Illiterate', 'Rs. 10 thousand', 6.0, 0.0),
 (12010100003101, 12, 1207, 120703, 'Male', 51.0, 'Gharti/Bhujel', 'Illiterate', 'Rs. 10 thousand', 13.0, 0.0),
 (12010100004101, 12, 1207, 120703, 'Male', 48.0, 'Gharti/Bhujel', 'Illiterate', 'Rs. 10 thousand', 5.0, 0.0),
 (12010100005101, 12, 1207, 120703, 'Male', 70.0, 'Gharti/Bhujel', 'Illiterate', 'Rs. 10 thousand', 8.0, 0.0)]

#### Querying the `household_earthquake_impact` table

In [19]:
%%sql

SELECT *
FROM household_earthquake_impact
LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(12010100001101, 12, 1207, 120703, 'Staying in their own house', 'This VDC/Municipality', 'This VDC/Municipality', 'ID Card for Total Destruction', 0.0, None, 0.0, None, 1.0, 1.0, None, None, None, None, 0.0, None, None, None, 1, 1, 0, 0, 0, 0),
 (12010100002101, 12, 1207, 120703, 'Staying in their own house', 'This VDC/Municipality', 'This VDC/Municipality', 'Have not received ID Card', 0.0, None, 0.0, None, None, None, None, None, 0.0, None, 0.0, None, None, None, 0, 0, 0, 0, 1, 0),
 (12010100003101, 12, 1207, 120703, 'Staying in their own house', 'This VDC/Municipality', 'This VDC/Municipality', 'Have not received ID Card', 0.0, None, 0.0, None, 0.0, None, 0.0, None, 0.0, None, 0.0, None, None, None, 0, 0, 0, 0, 1, 0),
 (12010100004101, 12, 1207, 120703, 'Staying in their own house', 'This VDC/Municipality', 'This VDC/Municipality', 'Have not received ID Card', 0.0, None, 0.0, None, 0.0, None, 0.0, None, 0.0, None, 0.0, None, None, None, 0, 0, 0, 0, 1, 0),
 (12010100005101, 12, 1207, 120703, 'Staying in their own house', 'This VDC/Municipality', 'This VDC/Municipality', 'Have not received ID Card', 0.0, None, 0.0, None, 0.0, None, 0.0, None, 0.0, None, 0.0, None, None, None, 0, 0, 0, 0, 1, 0)]

#### Querying the `household_resource` table

In [20]:
%%sql

SELECT *
FROM household_resource
LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(12010100001101, 12, 1207, 120703, 'Pipeline', 'Pipeline', 'Wood', 'Wood', 'Electricity', 'Electricity', 'Simple', 'Simple', 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0),
 (12010100002101, 12, 1207, 120703, 'Pipeline', 'Pipeline', 'Wood', 'Wood', 'Electricity', 'Electricity', 'Simple', 'Simple', 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0),
 (12010100003101, 12, 1207, 120703, 'Pipeline', 'Pipeline', 'Wood', 'Wood', 'Electricity', 'Electricity', 'Simple', 'Simple', 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0),
 (12010100004101, 12, 1207, 120703, 'Pipeline', 'Pipeline', 'Wood', 'Wood', 'Electricity', 'Electricity', 'Simple', 'Simple', 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0),
 (12010100005101, 12, 1207, 120703, 'Pipeline', 'Pipeline', 'Wood', 'Wood', 'Electricity', 'Electricity', 'Simple', 'Flush-out lavatory with septic tank', 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0)]

In [21]:
%%sql

SELECT *
FROM mapping
LIMIT 5;

 * sqlite:///nepal_earthquake.db
Done.

[(12010200004101001, 12010200004101, 120102000041),
 (12010200004101002, 12010200004101, 120102000041),
 (12010200004101003, 12010200004101, 120102000041),
 (12010200004101004, 12010200004101, 120102000041),
 (12010200004101005, 12010200004101, 120102000041)]

In [22]:
%%sql

SELECT 
    COUNT(*)
FROM mapping;

 * sqlite:///nepal_earthquake.db
Done.

[(3677133,)]